@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald:wght@500&display=swap');
body {
	font-family: Montserrat, sans-serif;
	color: #444;
}

.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}


/*------------------------------------------------------------Navbar*/

.logo {
	margin: 0 auto;
}

.container-fluid {
	padding: 0;
	background-color: rgba(240, 240, 240, 0.151);
}

.navbar {
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	background-color: rgba(240, 240, 240, 0.7);
	padding: 10px 0;
}

.active {
	color: #f89009 !important;
}

.nav-colored {
	background-color: #fff;
}

.nav-transparent {
	background-color: rgba(255, 255, 255, 0.6);
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(0, 0, 0, 0.7);
}


/*------------------------------------------------------------Beloved Images*/

#impact-img {
	display: block;
	background-size: cover;
	background-position: center center;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

#so-fresh {
	margin-bottom: 30px;
	vertical-align: middle;
	border-style: none;
	max-width: 85%;
	max-height: 500px;
}

#team-img {
	display: block;
	margin: 0 auto 20px auto;
}
.rounded-circle{
    margin-bottom: 15px;
}

.differs {
	height: 400px;
	width: 400px;
	margin-right: 25px;
	margin-left: 25px;
}

#takeaw {
	display: block;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

#about {
	display: block;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

.delyop {
	height: 500px;
	width: 500px;
	margin-right: 25px;
	margin-left: 25px;
}

#girly {
	display: block;
	width: 85%;
	margin: 0 auto;
}


/*-------------------------------------------------------------Text*/

h1,
h2,
h3,
h4 {
	color: #000;
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
	font-family: Oswald, sans-serif;
	padding: 25px 10px;
	letter-spacing: 0px;
	text-transform: none;
}

.pres-par {
	font-size: 2.4em !important;
	text-align: center;
	font-family: Oswald, sans-serif;
	padding: 25px 10px;
	letter-spacing: 0px;
	text-transform: none;
}

.pres-chi {
	margin: 20px auto;
	width: 85%;
	font-family: Montserrat, sans-serif;
	text-align: center;
	font-weight: 500;
}

.position {
	margin: auto;
}

.quotes {
	margin-left: auto;
	width: 85%;
	margin-right: auto;
}
/* code taken from https://www.lambdatest.com/blog/complete-guide-to-cross-browser-compatible-css-gradients/*/
.icon {
	color: red;

}

.first-h {
	margin: 15px;
	font-size: 2em;
	font-weight: 500;
	font-family: Oswald, sans-serif;
	letter-spacing: 2px;
}

.monty {
	margin: 20px auto 40px auto;
	font-family: Montserrat, sans-serif;
	font-weight: 600;
}

.menu1 {
	color:red;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	padding: 20px 0;
	font-size: 2.2em;
}

.menu1:hover {
	background: gold;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
}

.sm-width {
	text-align: center;
	width: 85%;
	margin: 0 auto;
}


/*-------------------------------------------------------------Media-Queries*/

@media screen and (max-width: 600px) {
	.navbar {
		padding: 0;
	}
	#impact-img {
		width: 90%;
	}
	.pres-par {
		font-size: 2.2em !important;
	}
	.first-h {
		margin: 0;
	}
	.first-h i {
		padding: 0 0;
		display: table;
		margin: 10px auto 0 auto !important;
	}
	#so-fresh {
		float: none;
		text-align: center;
		margin: 0 auto;
		-webkit-float: none;
		-webkit-text-align: center;
		-webkit-margin: 0 auto;
		-moz-float: none;
		-moz-text-align: center;
		-moz-margin: 0 auto;
		-o-float: none;
		-o-text-align: center;
		-o-margin: 0 auto;
	}
	#mt-creaty {
		margin-top: 0 !important;
	}
	#about {
		display: block;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		height: 270px;
	}
	#team-img {
		padding: 0 !important;
	}
	.ourstory {
		padding: 0;
		width: 100%;
		text-align: center;
		margin-top: 25px;
	}
	#takeaw {
		display: block;
		width: 90%;
	}
	.delyop {
		width: 85% !important;
		height: 320px !important;
		margin: 0 auto !important;
	}
	.differs {
		height: auto;
		width: 90%;
		margin: 0 auto !important;
	}
	#girly {
		display: block;
		width: 90%;
	}
	.sochild {
		clear: both;
		display: table;
	}
	.order {
		margin: 0 auto !important;
	}
	.monty {
		margin: 15px auto 30px auto;
		font-size: 1.2em;
		font-family: Montserrat, sans-serif;
		font-weight: 600
	}
	.sm-width {
		width: 92%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 950px) {
	#impact-img {
		margin-bottom: 30px;
		width: 90%;
	}
	.pres-par {
		margin: 0 auto;
		width: 92%;
	}
	#so-fresh {
		float: none;
		text-align: center;
		margin: 0 auto;
		-webkit-float: none;
		-webkit-text-align: center;
		-webkit-margin: 0 auto;
		-moz-float: none;
		-moz-text-align: center;
		-moz-margin: 0 auto;
		-o-float: none;
		-o-text-align: center;
		-o-margin: 0 auto;
	}
	#override {
		margin-bottom: 0 !important;
		margin-top: 15px;
	}
	#ourstory {
		margin-top: 25px;
	}
	.ourow {
		position: relative;
		width: 85%;
		margin: 0 auto !important;
	}
	.pres-par {
		padding: 0;
	}
	.sm-width {
		text-align: center;
		width: 90%;
		margin: 0 auto;
	}
	#definitive {
		font: bold 14px sans-serif;
	}
	#definitive .order,
	#definitive .space,
	#definitive .so-child {
		clear: both;
		display: block;
		width: 100%;
		margin-bottom: 10px;
		text-align: center;
	}
	#moreto {
		float: none !important;
		text-align: center;
	}
	.footer-company-name {
		text-align: center;
	}
	#grid {
		text-align: center;
	}
}

@media screen and (min-width: 1024px) {
	.delyop {
		height: 495px;
		width: 495px;
		margin-left: 0;
		margin-right: 0;
	}
	.differs {
		margin: 0;
	}
	.ourow {
		margin: 0 auto !important;
		width: 85%;
	}
	#grid {
		display: grid;
	}
}

@media screen and (min-width: 1200px) {
	#impact-img {
		width: 85%;
		height: auto;
	}
	#so-fresh {
		vertical-align: middle;
		border-style: none;
		width: 420px;
		max-height: 600px;
	}
	.pres-par {
		font-size: 2.4em !important;
	}
	.first-h {
		margin: 0;
		font-size: 2em !important;
	}
	.pres-chi {
		width: 85%;
	}
	#takeaw {
		width: 85%;
		height: auto;
	}
	.differs {
		padding: 0;
		height: 400px;
		width: 400px;
		margin-right: 25px;
		margin-left: 15px;
	}
	/*---------------------------------------------------------About-Us*/
	#about {
		width: 85%;
		height: auto;
	}
	.ourow {
		position: relative;
		width: 80%;
		margin: 0 auto !important;
	}
	.quotes {
		width: 80%;
	}
	/*---------------------------------------------------------Contact*/
	#girly {
		display: block;
		width: 85%;
		height: auto;
	}
}


/*-------------------------------------------------------------Footer inspired by https://azmind.com/bootstrap-footer-templates/*/

#definitive {
	margin-right: 0 !important;
	margin-bottom: 0 !important;
	background-color: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
}


/*-------------------------------------------------------------Footer-left*/

.order {
	color: #ffffff;
	margin: 20px 0 12px;
	padding: 10px;
}

.order a {
	display: inline-block;
	line-height: 1.8;
	font-weight: 400;
	text-decoration: none;
	color: inherit;
}

.order:hover {
	color: #ff9e00;
}

.footer-company-name {
	padding: 10px;
}


/*---------------------------------------------------------Footer-center */

.space i {
	background-color: #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 5px 10px;
	vertical-align: middle;
}

.space a {
	color: lightseagreen;
	text-decoration: none;
}


/*-------------------------------------------------------------Footer-bottom*/

.sochild {
	margin: 15px;
	font-size: 40px;
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 2px;
	color: #ffffff;
	text-align: center;
}